.navbar
{
    background-color: rgb(217, 112, 20);
    height: 100px;
}

.user
{
    height: 350px;
}

.nonsigned
{
    background-color: aliceblue;
    max-width: 130px;
    max-height: 130px;
    border-width: 1px;
    border-radius: 50%;
    border-color: rgb(0, 0, 0);
}

.hr
{
    justify-self: center;
    height: 1px;
    width: 60%;
    background-color: black;
}

.hud_pub
{
    width: 100%;
    height: 40px;
    border: groove;
    border-width: 1px;
    border-top: unset;
    border-color: rgb(0, 0, 0);
}

.pub
{
    width: 100%;
    height: 501px;
    border: groove;
    border-width: 1px;
    border-top: unset;
    border-color: rgb(0, 0, 0);
}

.titulo
{
    width: 100%;
    height: 30px;
    text-align: left;
}

.fundofoto
{
    width: 100%;
    height: 370px;
}

.foto
{
    border-radius: 10px;
}

.descricao
{
    text-align: left;
    width: 100%;
    height: 30px;
}

.like
{
    width: 100%;
    height: 70px;
}

.icon
{
    max-height: 50px;
    max-width: 20px ;
}

.botao
{
    min-width: 75%;
    background-color: #D97014 !important;
    color: white;
    border: unset !important;
}

.botao:hover
{
    font-weight: bolder;
}